html { 
	height: 100%; 
}

body { 
	margin: 0; 
	height: 100%;
	weigth: 100%;  
	position: relative; 
}

nav{
	position: absolute;
	left: 60%;
	top: 0; 
	bottom: 0; 
	right: 0;
	width: 20%;
	height: 50%;
	background: #ebebeb; /* Old browsers */
	background: -moz-linear-gradient(left, #ebebeb 0%, #eaeaea 93%, #d9d9d9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ebebeb), color-stop(93%,#eaeaea), color-stop(100%,#d9d9d9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #ebebeb 0%,#eaeaea 93%,#d9d9d9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #ebebeb 0%,#eaeaea 93%,#d9d9d9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #ebebeb 0%,#eaeaea 93%,#d9d9d9 100%); /* IE10+ */
	background: linear-gradient(to right, #ebebeb 0%,#eaeaea 93%,#d9d9d9 100%); /* W3C */
	color: #404040;
	font-family: 'Helvetica Neue', sans-serif;
}

nav ul{
	list-style-type: none;
}

.file{
	background: #ebebeb; /* Old browsers */
	background: -moz-linear-gradient(left, #ebebeb 0%, #eaeaea 93%, #d9d9d9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ebebeb), color-stop(93%,#eaeaea), color-stop(100%,#d9d9d9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #ebebeb 0%,#eaeaea 93%,#d9d9d9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #ebebeb 0%,#eaeaea 93%,#d9d9d9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #ebebeb 0%,#eaeaea 93%,#d9d9d9 100%); /* IE10+ */
	background: linear-gradient(to right, #ebebeb 0%,#eaeaea 93%,#d9d9d9 100%); /* W3C */
	color: #404040;
	border-radius: 5px;
}

#tree1, #tree2, #tree3, #tree4{
	background: #ebebeb; /* Old browsers */
	background: -moz-linear-gradient(left, #ebebeb 0%, #eaeaea 93%, #d9d9d9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ebebeb), color-stop(93%,#eaeaea), color-stop(100%,#d9d9d9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #ebebeb 0%,#eaeaea 93%,#d9d9d9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #ebebeb 0%,#eaeaea 93%,#d9d9d9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #ebebeb 0%,#eaeaea 93%,#d9d9d9 100%); /* IE10+ */
	background: linear-gradient(to right, #ebebeb 0%,#eaeaea 93%,#d9d9d9 100%); /* W3C */
	color: #404040;
	border: 1px solid;
	border-color: rgba(0,0,0,0.5);
	width: 3px;
	height: 1.5em;
}

.tree{
	font-weight: bold;
}

#userlist {
	position: absolute; 
	left: 0; 
	top: 0; 
	bottom: 0; 
	height: 50%;
	width: 20%;
}

#firepad-container {
	position: absolute; 
	left: 20%; 
	top: 0; 
	bottom: 0; 
	right: 40%; 
	height: auto;
	width: 40%
}

#returnServer {
	white-space:pre ;
	overflow:auto;
	position: absolute; 
	left: 80%; 
	top: 0; 
	bottom: 0; 
	right: 0; 
	height: 100%;
	width: 20%;
}
			
#chat {
	position: absolute; 
	left: 0; 
	top: 50%; 
	bottom: 0; 
	height: 40%;
	width: 20%;
}
			
#chatMessage {
	position: absolute; 
	left: 0; 
	top: 92%; 
	bottom: 0; 
	height: 3%;
	width: 11%;
}
			
#sendMessage {
	position: absolute; 
	left: 12%; 
	top: 92%; 
	bottom: 0; 
	height: 4%;
	width: 8%;
}

#samples{
	position: absolute;
	left: 60%;
	right: 0;
	top: 50%;
	bottom: 0;
	width: 19.7%;
	height: 50%;
}

#user_text{
	
	color: red;
}
